@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
* {
    margin: 0;
    padding: 0;
}
.one{
    color: #B42B5C;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 7vh;
padding-top: 9vh;
}
.two{
    color: #2B62B4;
font-family: Roboto;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 7vh;
margin-top: 4vh;
margin-right: 40vh;

}
p{
    color: #ACACAC;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 163.687%;
letter-spacing: 0.39px;
padding-left: 7vh;
margin-top: 4vh;
margin-right: 40vh;
margin-bottom: 6vh;
}
ul{
    list-style-type: none;
    color: #FFBBD3;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.66px;
}
.three{
    display: flex;
}
.four{
    background: #B42B5C;
    width:50%;
    padding-top: 6vh;
    padding-left: 13vh;
}
.five{
    background: #BE4973;
    width:50%;
    padding-top: 6vh;
    padding-left: 13vh;
}
h2{
    color: #FFDCE8;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 5vh;
}
span{
    color: #FFF;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 1vh;
}
.pm{
    color: #FFBBD3;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.perday{
    margin-top: 2vh;
}
button{
    color: #E0EDFF;
font-family: Roboto;
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 10px;
background: #4576BD;
box-shadow: 0px 21px 47px 0px rgba(0, 0, 0, 0.35);
padding:3vh 22vh;
margin-bottom: 4.5vh;
}
li{
    margin-bottom: 1vh;
}
@media screen and (max-width: 700px){
    .three{
        display:block;
    }
    .one{
        font-size: 26px;
        padding-left: 5vh;
        padding-top: 8vh;
    }
    .two{
        font-size: 20px;
        padding-left: 5vh;
        margin-top: 4vh;
        margin-right: 10vh;
    }
    p{
        font-size: 16px;
        padding-left: 5vh;
        margin-top: 4vh;
        margin-right: 8vh;
        margin-bottom: 6vh;
    }
    .four{
        width: 100%;
        padding-left: 5vh;
    }
    .five{
        width:100%;
        padding-left: 5vh;
        padding-bottom: 1vh;
    }
    h2{
        font-size: 20px;
        margin-bottom: 3.5vh;
    }
    span{
        font-size: 35px;
    }
    .pm{
        font-size: 20px;
    }
    button{
        font-size: 19px;
    }
    li{
        font-size: 16px;
        padding-bottom: 2vh;
    }
}
    